$white: #ffffff;

$dark-red: #663333;
$dark-red-slightlight: #6f3a3a;
$dark-red-highlight: #6a3838;

$header-background: $dark-red;
$header-background-slightlight: $dark-red-slightlight;
$header-background-highlight: $dark-red-highlight;
$header-text: $white;

$navigation-background: #fff9f2;
$navigation-border: #e6d6c3;
$navigation-text: #4d3b26;
$navigation-highlight: #663333;

$heading-text: $dark-red;

$navigation-current-font: montserrat, sans-serif;
$navigation-current-colour: #b35959;

$wbs-dark-red: #b31218;
$wbs-dark-orange: #e6845c;
$wbs-faint-orange: #ffe7d6;

$table-background: #fcf7f7;
$table-border: #f5ebeb;

$tab-background: #fcf7f7;
$tab-text: inherit;
$tab-border: #f5ebeb;
$tab-current-background: $dark-red;
$tab-current-text: $white;
