@font-face {
	font-family: muli;
	font-weight: normal;
	src: url("/static/fonts/wbs/Muli-Light.ttf");
}

@font-face {
	font-family: muli;
	font-weight: bold;
	src: url("/static/fonts/wbs/Muli-Regular.ttf");
}

@font-face {
	font-family: montserrat;
	font-weight: normal;
	src: url("/static/fonts/wbs/Montserrat-Regular.ttf");
}

@font-face {
	font-family: montserrat;
	font-weight: bold;
	src: url("/static/fonts/wbs/Montserrat-Bold.ttf");
}

@font-face {
	font-family: sourcecodepro;
	font-weight: normal;
	src: url("/static/fonts/wbs/SourceCodePro-Light.ttf");
}

@font-face {
	font-family: sourcecodepro;
	font-weight: bold;
	src: url("/static/fonts/wbs/SourceCodePro-Regular.ttf");
}
